<h1>Terms of Use</h1>
<p>By using the Brick Checklist application you accept that we can't be kept responsible for the following...</p>

<h2>Things out of our control</h2>

<h3>Bad Data</h3>
<p>We get the data for the LEGO sets from <a href="https://rebrickable.com/">Rebrickable</a>. We are not in control of the quality of the data and have experienced that they are not always correct. I.e. since the data on <a href="https://rebrickable.com/">Rebrickable</a> is primarily maintained by their users, the number of bricks can sometimes be wrong.</p>

<h3>Registering the wrong number of bricks in the checklists</h3>
<p>When using the checklists in this application it is possible to the wrong number of bricks in different ways. I.e. tapping a brick too quickly so that the user taps too many times.<br> have undo and reset functions, but things can still go wrong. Only the user can be responsible for this.</p>

<h3>The storage of checklists data</h3>
<p>We store the checklists data in something called local storage which belongs to the browser. It is possible for the user to go to the browser settings and delete cookies and local storage. Doing that will of course make all checklists disappear.</p>

<h2>Things that we do control, but...</h2>
<p>We do make mistakes. I.e. a coding error could potentially make the stored checklists useless (while the bug still exists) or could even ruin the data so that the checklists would be lost forever.<br>We do our best to prevent bugs from slipping through to the version that is used by our users.</p>
