<footer>
  <div class="footer footer-bottom" id="footer">
      <div class="dont-print">
          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v6.0&appId=1676798679018220&autoLogAppEvents=1">
          </script>
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <h3>Social Media</h3>
                      <ul>
                          <li>
                              <div class="fb-share-button" data-href="https://brickchecklist.com"
                                  data-layout="button_count" data-size="small"><a target="_blank"
                                      href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbrickchecklist.com%2F&amp;src=sdkpreparse"
                                      class="fb-xfbml-parse-ignore">Share on Facebook</a></div>
                          </li>
                          <li><a href="https://www.facebook.com/brickchecklist/" target="_blank">Facebook Page</a></li>
                          <li><a href="https://twitter.com/brick_checklist" target="_blank">Twitter</a></li>
                          <li><a href="https://www.instagram.com/brickchecklist/" target="_blank">Instagram</a></li>
                      </ul>
                  </div>
                  <div class="col-md-6">
                      <h3>Useful Links</h3>
                      <ul>
                          <li><a routerLink="/terms">Terms of use</a></li>
                          <li><a routerLink="/privacy-and-cookies">Privacy and Cookies Policy</a></li>
                          <!--<li><a routerLink="/settings">Settings</a></li>-->
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="container copyright">
          <p class="pull-left"> &copy; 2020-{{ currentYear }}, brickchecklist.com.
              All&nbsp;rights&nbsp;reserved.</p>
      </div>
  </div>
</footer>
