<h1>Privacy and Cookies Policy</h1>

<dl>
  <dt>Privacy Policy</dt>
  <dd>
    <p>For the moment we store user data only on the user's own device or computer.</p>
    <p>We use <a target="_blank" href="https://analytics.google.com/">Google Analytics</a> to register events when the
      home page is visited and when new checklists are created. Also the approximate location of the users are
      registered with Google.<br> We do this to be able to study the demographics of our users and also to learn from
      how users are using our application, so that we can get ideas as of how to improve it.</p>
  </dd>
  <dt>Cookies Policy</dt>
  <dd>
    <p>All checklist data is stored on the user's device or computer in what is called <a target="_blank"
        href="https://www.w3schools.com/html/html5_webstorage.asp">local storage</a>.</p>
    <p>The checklists are stored locally for better performance.</p>
    <p>We do plan to also store the checklists in the cloud to enable working on the checklists on different
      devices/computers.</p>
  </dd>
</dl>
